
<div id="tabs">
    <ul>
      <li><a href="#tabs_common">common</a></li>
      <li><a href="#tabs_daynight">daynight</a></li>
      <li><a href="#tabs_audio">audio</a></li>
      <li><a href="#tabs_image">image</a></li>
      <li><a href="#tabs_smartstream">smart stream</a></li>
      <li><a href="#tabs_vadp">vadp</a></li>
      <li><a href="#tabs_thermal">thermal</a></li>
      <li><a href="#tabs_localstorage">localstorage</a></li>
      <li><a href="#tabs_onvif">onvif</a></li>
      <li><a href="#tabs_network">network</a></li>
      <li><a href="#tabs_others">others</a></li>
    </ul>

     <%= render 'tabs_common', :f =>f %>
     <%= render 'tabs_daynight', :f =>f %>
     <%= render 'tabs_audio', :f =>f %>
     <%= render 'tabs_image', :f =>f %>
     <%= render 'tabs_smartstream', :f =>f %>
     <%= render 'tabs_thermal', :f =>f %>
     <%= render 'tabs_network', :f =>f %>
     <%= render 'tabs_localstorage', :f =>f %>
     <%= render 'tabs_onvif', :f =>f %>
     <%= render 'tabs_vadp', :f =>f %>
     <%= render 'tabs_others', :f =>f %>

</div>     
