<div id="tabs_thermal">
      <%= f.label :thermal_support, "有無支援thermal" %>
      <%= f.radio_button :thermal_support, '1' %> 有
      <%= f.radio_button :thermal_support, '0' %> 無
      <br>
      <%= f.label :thermal_temperaturedetection, "有無支援溫度偵測" %>
      <%= f.radio_button :thermal_temperaturedetection, '1' %> 有
      <%= f.radio_button :thermal_temperaturedetection, '0' %> 無
</div> 