<div id="tabs_video", class="content_block">
		
		 
    <%= f.label :codec, "Codec: " %>
    
    <% if @userinput["h265"] == 1 %>   
    	<%= f.check_box :h265, class: "codec", :checked => true %>H265
    <% else %>
    	<%= f.check_box :h265, class: "codec" %>H265
    <% end %>
    
    <% if @userinput["h264"] == 1 %>   
    	<%= f.check_box :h264, class: "codec", :checked => true %>H264
    <% else %>
    	<%= f.check_box :h264, class: "codec" %>H264
    <% end %>
    
    <% if @userinput["mjpeg"] == 1 %>   
    	<%= f.check_box :mjpeg, class: "codec", :checked => true %>MJPEG
    <% else %>
    	<%= f.check_box :mjpeg, class: "codec" %>MJPEG
    <% end %>
    
    <% if @userinput["mpeg4"] == 1 %>   
    	<%= f.check_box :mpeg4, class: "codec", :checked => true %>MPEG4
    <% else %>
    	<%= f.check_box :mpeg4, class: "codec" %>MPEG4
    <% end %>
    
    
    <br>

    <%= f.label :nvideomode, "Video mode 數目:" %>
    <%= f.text_field :nvideomode, class: "params"%>
    
    <br>
    <br>
    <%= f.label :resolution_fps, "Resolution and MaxFPS: " %>
    <br>
                    <!-- video mode 0 table (resolution)  -->
                    <div id="div_videomode0" class="div_videomode" style="display:none">
                    <%= f.label :resolution_fps, "-- Video mode 1 -- " %>
                    <br>
                    <span>Effective pixels:</span>
                    <%= f.text_field :videoin_c0_mode0_effectivepixel, style: "width:120px" %>
                    
                    <table id="table_videomode0" class="vivotable" style="margin-left:0px">
											<tr>
												<td>
													<div class="tablescroll tablescroll-patrol">
														  <table id="res_tablescroll_head_mode0" cellspacing="0" class="tablescroll_head" style="width:240px;table-layout:fixed">
															<thead>
															  <tr id="tablescroll_tr_mode0">
																  <th style="width: 170px;"><span title="symbol">All Resolution</span></th>
																  <th style="width: 70px;"><span title="symbol">Max FPS</span></th>
																  <!-- <th style="width: 70px;"><span title="symbol">Max FPS (under H264)</span></th>-->
															  </tr>
															</thead>
														  </table>
														  
															<div id="res_div_body_mode0" class="tablescroll_wrapper" style="width:240px;height: 130px; overflow-x: hidden; overflow-y: auto;">
															  <table cellspacing="0" style="table-layout: fixed; width: 240px;table-layout:fixed" id="res_tablescroll_body_mode0" class="tablescroll_body">
																<colgroup id="colgroup_mode0">
																  <col width="20"/>
																	<col width="150"/>
																	<col width="70"/>
																</colgroup>
																<tbody id="tbody_mode0">
																	
																	<!-- Selected resolution Content -->
																	<% nres = @userinput["videoin_c0_mode0_nresolution"] %>
																	<% nres = nres.to_i %>
																	<% for i in 0..(nres-1) %>
																		<% res = "videoin_c0_mode0_resolution_%d" % i %>
																		<% if @userinput[res] != nil %>
																			<tr>
																				<td>
																					<input type="checkbox"/>
																				</td>
																				<td>
																					<%= @userinput[res] %>
																					<%= f.text_field res.parameterize.underscore.to_sym, class:"tablescroll_td_input_hide" %>
																				</td>
																				<td style="text-align:left">
																					<% symbol = "videoin_c0_mode0_maxframerate_%d" % i %>
																					<%= f.text_field symbol.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																				</td>
																				<% if @userinput["h265"] == 1 %>
																					<td style="text-align:left">
																					<% symbol = "videoin_c0_mode0_maxfps_h265_%d" % i %>
																					<%= f.text_field symbol.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																				<% end %>
																				<% if @userinput["h264"] == 1 %>
																					<td style="text-align:left">
																					<% symbol = "videoin_c0_mode0_maxfps_h264_%d" % i %>
																					<%= f.text_field symbol.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																				<% end %>
																				<% if @userinput["mjpeg"] == 1 %>
																					<td style="text-align:left">
																					<% symbol = "videoin_c0_mode0_maxfps_mjpeg_%d" % i %>
																					<%= f.text_field symbol.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																				<% end %>
																			</tr>
																		<% end %>
																	<% end %>
																	
																</tbody>
															</table>
															<div style="display:none">
																<%= f.text_field "videoin_c0_mode0_nresolution".parameterize.underscore.to_sym %>	
															</div>
													    </div>
													    
															<table id="res_tablescroll_foot_mode0" cellspacing="0" class="tablescroll_foot" style="width:240px;" id="tblPatrolFootForIE6">
															<tfoot>
																<tr>
																	<th style="_width: 20px;"><input type="button" title="symbol" value="remove" onclick="popResolution('_mode0')"/></th>
																	<th style="text-align: left; _width: 150px;">
																		<input type="button" value="&#9650;" style="padding: 0 3px;" onclick="MoveUp('_mode0')"/>
																		<input type="button" value="&#9660;" style="padding: 0 3px;" onclick="MoveDown('_mode0')"/>
																	</th>
																	<th><input type="button" title="symbol" value="more" style="display:none;" id="btn_adjPatrolTbl" onclick="adjustPatrolTbl(this)"/></th>
																</tr>
															</tfoot>
														  </table>
													</div>
												</td>
												<td style="vertical-align: middle; width: 1px; padding: 0px 3px 0 3px;">
													<input type="button" value="<<" style="padding: 1px; font: bold 11px arial;" onclick="pushResolution('_mode0')"/>
												</td>
												<td>
													<div class="tablescroll">
														<table cellspacing="0" class="tablescroll_head" style="width: 222px;">
															<thead>
																<tr>
																	<th style="_width: 210px;"><span>Resolution</span></th>
																</tr>
															</thead>
														</table>
														<div class="tablescroll_wrapper" style="width: 222px; height: 130px; overflow-x: hidden; overflow-y: auto;">
															<table cellspacing="0" style="table-layout: fixed; width: 220px;" id="table_resolution_mode0" class="tablescroll_body">
																<colgroup>
																	<col width="20"/>
																	<col width="150"/>
																</colgroup>
																<tbody>
																	<!-- Resolution selection Content -->
																	<tr>
																	  <td>
																	    <input type="checkbox"/>
																	  </td>
																	  <td title="176x144" style="cursor: default;">
																      176x144
																    </td>
																  </tr>
																  <tr>
																	  <td>
																	    <input type="checkbox"/>
																	  </td>
																	  <td title="800x600" style="cursor: default;">
																      800x600
																    </td>
																  </tr>
																</tbody>
															</table>
														</div>
														<table cellspacing="0" class="tablescroll_foot" style="width: 222px;">
															<tfoot>
																<tr>
																	<th style="_width: 10px;"><input type="button" title="symbol" value="New" onclick="newResolution('_mode0')"></th>
																	<th style="_width: 210px;"><input type="button" title="symbol" value="more" style="float:right; display:none;" id="btn_adjPresetTbl" onclick="adjustPresetTbl(this)"/></th>
																</tr>
															</tfoot>
														</table>
													</div>
												</td>
											</tr>
											<tr>
											  <td></td>
											  <td></td>
											  <td>
											    <div id="res_tablescroll_new_mode0" class="special_area" style="display:none">
                            						<span title="symbol" id="presetNameID">resolution</span>:
											      <!--<label for="addPresetInput" class="pre overlay" style=""><span title="symbol">add_preset_location</span></label>-->
												    <input type="text" id="new_resolution_input_mode0" name="addpos_temp" maxlength="40" value="" style="width:100px;" onKeyPress="return KeyPress(event);"/>
												    <input type="button" title="symbol" value="add" onclick="addResolution('_mode0');"/>
												  </div>
											  </td>
											</tr>
										</table>
										
										<!-- video mode 0 table (default setting) -->
										<table id="" class="vivotable" style="margin-left:0px">
                      						<tr>
												<td>
													<div class="tablescroll tablescroll-patrol">
														  <table id="default_tablescroll_head_mode0" cellspacing="0" class="tablescroll_head" style="width:240px;table-layout:fixed">
															<thead>
															  <tr id="default_tablescroll_tr_mode0">
																  <th style="width: 170px;"><span title="symbol">Default setting</span></th>
																  <!-- <th style="width: 70px;"><span title="symbol">Max FPS</span></th> -->
																  <!-- <th style="width: 70px;"><span title="symbol">Max FPS (under H264)</span></th>-->
															  </tr>
															</thead>
														  </table>
														  
														<div id="default_div_body_mode0" class="tablescroll_wrapper" style="width:240px;height: 130px; overflow-x: hidden; overflow-y: auto;">
															<table cellspacing="0" style="table-layout: fixed; width: 240px;table-layout:fixed" id="default_tablescroll_body_mode0" class="tablescroll_body">
																<colgroup id="default_colgroup_mode0">
																  <col width="20"/>
																	<col width="150"/>
																
																</colgroup>
																<tbody id="default_tbody_mode0">
																	<!-- Selected default settings Content -->
																	
																	
																	<% nstream = @userinput["nmediastream"] %>
																	<% for i in 0..(nstream - 1) %>
																			<tr>
																				<td>
																					<input type="checkbox"/>
																				</td>
																				<td>
																					<%= "Stream " + (i+1).to_s %>
																				</td>
																				<% if @userinput["h265"] == 1 %>
																					<td style="text-align:left">
																					<% framerate = "videoin_c0_mode0_defaultsetting_s%d_h265_framerate" % i %>
																					<%= f.text_field framerate.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																					<td style="text-align:left">
																					<% bitrate = "videoin_c0_mode0_defaultsetting_s%d_h265_bitrate" % i %>
																					<%= f.text_field bitrate.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																				<% end %>
																				<% if @userinput["h264"] == 1 %>
																					<td style="text-align:left">
																					<% framerate = "videoin_c0_mode0_defaultsetting_s%d_h264_framerate" % i %>
																					<%= f.text_field framerate.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																					<td style="text-align:left">
																					<% bitrate = "videoin_c0_mode0_defaultsetting_s%d_h264_bitrate" % i %>
																					<%= f.text_field bitrate.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																				<% end %>
																				<% if @userinput["mjpeg"] == 1 %>
																					<td style="text-align:left">
																					<% framerate = "videoin_c0_mode0_defaultsetting_s%d_mjpeg_framerate" % i %>
																					<%= f.text_field framerate.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																					<td style="text-align:left">
																					<% bitrate = "videoin_c0_mode0_defaultsetting_s%d_mjpeg_bitrate" % i %>
																					<%= f.text_field bitrate.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																				<% end %>
																				<% if @userinput["mpeg4"] == 1 %>
																					<td style="text-align:left">
																					<% framerate = "videoin_c0_mode0_defaultsetting_s%d_mpeg4_framerate" % i %>
																					<%= f.text_field framerate.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																					<td style="text-align:left">
																					<% bitrate = "videoin_c0_mode0_defaultsetting_s%d_mpeg4_bitrate" % i %>
																					<%= f.text_field bitrate.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																				<% end %>
																			</tr>
																	<% end %>
																
																</tbody>
                                							</table>
													    </div>
													    
															<table id="default_tablescroll_foot_mode0" cellspacing="0" class="tablescroll_foot" style="width:240px;" id="tblPatrolFootForIE6">
															<tfoot>
																<tr>
																  <!--
																	<th style="_width: 20px;"><input type="button" title="symbol" value="remove" onclick="popResolution('_mode0')"/></th>
																	<th style="text-align: left; _width: 150px;">
																		<input type="button" value="&#9650;" style="padding: 0 3px;" onclick="MoveUp('_mode0')"/>
																		<input type="button" value="&#9660;" style="padding: 0 3px;" onclick="MoveDown('_mode0')"/>
																	</th>
																	<th><input type="button" title="symbol" value="more" style="display:none;" id="btn_adjPatrolTbl" onclick="adjustPatrolTbl(this)"/></th>
																	-->
																</tr>
															</tfoot>
														  </table>
													</div>
												</td>
											</tr>
										</table>
	                  				</div>
	                  
	                  
										
					<!-- video mode 1 table  -->
					<div id="div_videomode1" class="div_videomode" style="display:none">
					<%= f.label :resolution_fps, "-- Video mode 2 -- " %>
                    <br>
                    <span>Effective pixels:</span>
                    <%= f.text_field :videoin_c0_mode1_effectivepixel, style: "width:120px" %>
                    <table id="table_videomode1" class="vivotable" style="margin-left:0px">
											<tr>
                        						<td>
													<div class="tablescroll tablescroll-patrol">
														  <table id="res_tablescroll_head_mode1" cellspacing="0" class="tablescroll_head" style="width:240px;table-layout:fixed">
															<thead>
															  <tr id="tablescroll_tr_mode1">
																  <th style="width: 170px;"><span title="symbol">All Resolution</span></th>
																  <th style="width: 70px;"><span title="symbol">Max FPS</span></th>
																  <!-- <th style="width: 70px;"><span title="symbol">Max FPS (under H264)</span></th>-->
															  </tr>
															</thead>
														  </table>
														  
														<div id="res_div_body_mode1" class="tablescroll_wrapper" style="width:240px;height: 130px; overflow-x: hidden; overflow-y: auto;">
															<table cellspacing="0" style="table-layout: fixed; width: 240px;table-layout:fixed" id="res_tablescroll_body_mode1" class="tablescroll_body">
																<colgroup id="colgroup_mode1">
																  <col width="20"/>
																	<col width="150"/>
																	<col width="70"/>
																
																</colgroup>
																<tbody id="tbody_mode1">
																	<!-- Selected resolution Content -->
																	<% nres = @userinput["videoin_c0_mode1_nresolution"] %>
																	<% nres = nres.to_i %>
																	<% for i in 0..(nres-1) %>
																		<% res = "videoin_c0_mode1_resolution_%d" % i %>
																		<% if @userinput[res] != nil %>
																			<tr>
																				<td>
																					<input type="checkbox"/>
																				</td>
																				<td>
																					<%= @userinput[res] %>
																					<%= f.text_field res.parameterize.underscore.to_sym, class:"tablescroll_td_input_hide" %>
																				</td>
																				<td style="text-align:left">
																					<% symbol = "videoin_c0_mode1_maxframerate_%d" % i %>
																					<%= f.text_field symbol.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																				</td>
																				<% if @userinput["h265"] == 1 %>
																					<td style="text-align:left">
																					<% symbol = "videoin_c0_mode1_maxfps_h265_%d" % i %>
																					<%= f.text_field symbol.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																				<% end %>
																				<% if @userinput["h264"] == 1 %>
																					<td style="text-align:left">
																					<% symbol = "videoin_c0_mode1_maxfps_h264_%d" % i %>
																					<%= f.text_field symbol.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																				<% end %>
																				<% if @userinput["mjpeg"] == 1 %>
																					<td style="text-align:left">
																					<% symbol = "videoin_c0_mode1_maxfps_mjpeg_%d" % i %>
																					<%= f.text_field symbol.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																				<% end %>
																			</tr>
																		<% end %>
																	<% end %>
																
																</tbody>
                              								</table>
                             								<div style="display:none">
																<%= f.text_field "videoin_c0_mode1_nresolution".parameterize.underscore.to_sym %>	
															</div>

													    </div>
													    
															<table id="res_tablescroll_foot_mode1" cellspacing="0" class="tablescroll_foot" style="width:240px;" id="tblPatrolFootForIE6">
															<tfoot>
																<tr>
																	<th style="_width: 20px;"><input type="button" title="symbol" value="remove" onclick="popResolution('_mode1')"/></th>
																	<th style="text-align: left; _width: 150px;">
																		<input type="button" value="&#9650;" style="padding: 0 3px;" onclick="MoveUp('_mode1')"/>
																		<input type="button" value="&#9660;" style="padding: 0 3px;" onclick="MoveDown('_mode1')"/>
																	</th>
																	<th><input type="button" title="symbol" value="more" style="display:none;" id="btn_adjPatrolTbl" onclick="adjustPatrolTbl(this)"/></th>
																</tr>
															</tfoot>
														  </table>
													</div>
												</td>
												<td style="vertical-align: middle; width: 1px; padding: 0px 3px 0 3px;">
													<input type="button" value="<<" style="padding: 1px; font: bold 11px arial;" onclick="pushResolution('_mode1')"/>
												</td>
												<td>
													<div class="tablescroll">
														<table cellspacing="0" class="tablescroll_head" style="width: 222px;">
															<thead>
																<tr>
																	<th style="_width: 210px;"><span>Resolution</span></th>
																</tr>
															</thead>
														</table>
														<div class="tablescroll_wrapper" style="width: 222px; height: 130px; overflow-x: hidden; overflow-y: auto;">
															<table cellspacing="0" style="table-layout: fixed; width: 220px;" id="table_resolution_mode1" class="tablescroll_body">
																<colgroup>
																	<col width="20"/>
																	<col width="150"/>
																</colgroup>
																<tbody>
																	<!-- Resolution selection Content -->
																	<tr>
																	  <td>
																	    <input type="checkbox"/>
																	  </td>
																	  <td title="176x144" style="cursor: default;">
																      176x144
																    </td>
																  </tr>
																  <tr>
																	  <td>
																	    <input type="checkbox"/>
																	  </td>
																	  <td title="800x600" style="cursor: default;">
																      800x600
																    </td>
																  </tr>
																</tbody>
															</table>
														</div>
														<table cellspacing="0" class="tablescroll_foot" style="width: 222px;">
															<tfoot>
																<tr>
																	<th style="_width: 10px;"><input type="button" title="symbol" value="New" onclick="newResolution('_mode1')"></th>
																	<th style="_width: 210px;"><input type="button" title="symbol" value="more" style="float:right; display:none;" id="btn_adjPresetTbl" onclick="adjustPresetTbl(this)"/></th>
																</tr>
															</tfoot>
														</table>
													</div>
												</td>
											</tr>
											<tr>
											  <td></td>
											  <td></td>
											  <td>
											    <div id="res_tablescroll_new_mode1" class="special_area" style="display:none">
                            						<span title="symbol" id="presetNameID">resolution</span>:
											      <!--<label for="addPresetInput" class="pre overlay" style=""><span title="symbol">add_preset_location</span></label>-->
												    <input type="text" id="new_resolution_input_mode1" name="addpos_temp" maxlength="40" value="" style="width:100px;" onKeyPress="return KeyPress(event);"/>
												    <input type="button" title="symbol" value="add" onclick="addResolution('_mode1');"/>
												  </div>
											  </td>
											</tr>
										</table>
										
										<!-- video mode 1 table (default setting) -->
										<table id="" class="vivotable" style="margin-left:0px">
                      						<tr>
												<td>
													<div class="tablescroll tablescroll-patrol">
														  <table id="default_tablescroll_head_mode1" cellspacing="0" class="tablescroll_head" style="width:240px;table-layout:fixed">
															<thead>
															  <tr id="default_tablescroll_tr_mode1">
																  <th style="width: 170px;"><span title="symbol">Default setting</span></th>
																  <!-- <th style="width: 70px;"><span title="symbol">Max FPS</span></th> -->
																  <!-- <th style="width: 70px;"><span title="symbol">Max FPS (under H264)</span></th>-->
															  </tr>
															</thead>
														  </table>
														  
															<div id="default_div_body_mode1" class="tablescroll_wrapper" style="width:240px;height: 130px; overflow-x: hidden; overflow-y: auto;">
															  <table cellspacing="0" style="table-layout: fixed; width: 240px;table-layout:fixed" id="default_tablescroll_body_mode1" class="tablescroll_body">
																<colgroup id="default_colgroup_mode1">
																  <col width="20"/>
																	<col width="150"/>
																
																</colgroup>
																<tbody id="default_tbody_mode1">
																	<!-- Selected default settings Content -->
																	<% nstream = @userinput["nmediastream"] %>
																	<% for i in 0..(nstream - 1) %>
																			<tr>
																				<td>
																					<input type="checkbox"/>
																				</td>
																				<td>
																					<%= "Stream " + (i+1).to_s %>
																				</td>
																				<% if @userinput["h265"] == 1 %>
																					<td style="text-align:left">
																					<% framerate = "videoin_c0_mode1_defaultsetting_s%d_h265_framerate" % i %>
																					<%= f.text_field framerate.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																					<td style="text-align:left">
																					<% bitrate = "videoin_c0_mode1_defaultsetting_s%d_h265_bitrate" % i %>
																					<%= f.text_field bitrate.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																				<% end %>
																				<% if @userinput["h264"] == 1 %>
																					<td style="text-align:left">
																					<% framerate = "videoin_c0_mode1_defaultsetting_s%d_h264_framerate" % i %>
																					<%= f.text_field framerate.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																					<td style="text-align:left">
																					<% bitrate = "videoin_c0_mode1_defaultsetting_s%d_h264_bitrate" % i %>
																					<%= f.text_field bitrate.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																				<% end %>
																				<% if @userinput["mjpeg"] == 1 %>
																					<td style="text-align:left">
																					<% framerate = "videoin_c0_mode1_defaultsetting_s%d_mjpeg_framerate" % i %>
																					<%= f.text_field framerate.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																					<td style="text-align:left">
																					<% bitrate = "videoin_c0_mode1_defaultsetting_s%d_mjpeg_bitrate" % i %>
																					<%= f.text_field bitrate.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																				<% end %>
																				<% if @userinput["mpeg4"] == 1 %>
																					<td style="text-align:left">
																					<% framerate = "videoin_c0_mode1_defaultsetting_s%d_mpeg4_framerate" % i %>
																					<%= f.text_field framerate.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																					<td style="text-align:left">
																					<% bitrate = "videoin_c0_mode1_defaultsetting_s%d_mpeg4_bitrate" % i %>
																					<%= f.text_field bitrate.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																				<% end %>
																			</tr>
																	<% end %>

																</tbody>
                             								 </table>
													    </div>
													    <table id="default_tablescroll_foot_mode1" cellspacing="0" class="tablescroll_foot" style="width:240px;" id="tblPatrolFootForIE6">
															<tfoot>
																<tr>
																  <!--
																	<th style="_width: 20px;"><input type="button" title="symbol" value="remove" onclick="popResolution('_mode0')"/></th>
																	<th style="text-align: left; _width: 150px;">
																		<input type="button" value="&#9650;" style="padding: 0 3px;" onclick="MoveUp('_mode0')"/>
																		<input type="button" value="&#9660;" style="padding: 0 3px;" onclick="MoveDown('_mode0')"/>
																	</th>
																	<th><input type="button" title="symbol" value="more" style="display:none;" id="btn_adjPatrolTbl" onclick="adjustPatrolTbl(this)"/></th>
																	-->
																</tr>
															</tfoot>
														  </table>
													</div>
												</td>
											</tr>
										</table>
										
										</div>
										
					<!-- video mode 2 table -->
										
					<div id="div_videomode2" class="div_videomode" style="display:none">
					<%= f.label :resolution_fps, "-- Video mode 3 -- " %>
                    <br>
                    <span>Effective pixels:</span>
                    <%= f.text_field :videoin_c0_mode2_effectivepixel, style: "width:120px" %>
                    <table id="table_videomode2" class="vivotable" style="margin-left:0px">
											<tr>
												<td>
													<div class="tablescroll tablescroll-patrol">
														  <table id="res_tablescroll_head_mode2" cellspacing="0" class="tablescroll_head" style="width:240px;table-layout:fixed">
															<thead>
															  <tr id="tablescroll_tr_mode2">
																  <th style="width: 170px;"><span title="symbol">All Resolution</span></th>
																  <th style="width: 70px;"><span title="symbol">Max FPS</span></th>
																  <!-- <th style="width: 70px;"><span title="symbol">Max FPS (under H264)</span></th>-->
															  </tr>
															</thead>
														  </table>
														  
														<div id="res_div_body_mode2" class="tablescroll_wrapper" style="width:240px;height: 130px; overflow-x: hidden; overflow-y: auto;">
															<table cellspacing="0" style="table-layout: fixed; width: 240px;table-layout:fixed" id="res_tablescroll_body_mode2" class="tablescroll_body">
																<colgroup id="colgroup_mode2">
																  <col width="20"/>
																	<col width="150"/>
																	<col width="70"/>
																
																</colgroup>
																<tbody id="tbody_mode2">
																	<!-- Selected resolution Content -->
																	<% nres = @userinput["videoin_c0_mode2_nresolution"] %>
																	<% nres = nres.to_i %>
																	<% for i in 0..(nres-1) %>
																		<% res = "videoin_c0_mode2_resolution_%d" % i %>
																		<% if @userinput[res] != nil %>
																			<tr>
																				<td>
																					<input type="checkbox"/>
																				</td>
																				<td>
																					<%= @userinput[res] %>
																					<%= f.text_field res.parameterize.underscore.to_sym, class:"tablescroll_td_input_hide" %>
																				</td>
																				<td style="text-align:left">
																					<% symbol = "videoin_c0_mode2_maxframerate_%d" % i %>
																					<%= f.text_field symbol.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																				</td>
																				<% if @userinput["h265"] == 1 %>
																					<td style="text-align:left">
																					<% symbol = "videoin_c0_mode2_maxfps_h265_%d" % i %>
																					<%= f.text_field symbol.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																				<% end %>
																				<% if @userinput["h264"] == 1 %>
																					<td style="text-align:left">
																					<% symbol = "videoin_c0_mode2_maxfps_h264_%d" % i %>
																					<%= f.text_field symbol.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																				<% end %>
																				<% if @userinput["mjpeg"] == 1 %>
																					<td style="text-align:left">
																					<% symbol = "videoin_c0_mode2_maxfps_mjpeg_%d" % i %>
																					<%= f.text_field symbol.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																				<% end %>
																			</tr>
																		<% end %>
																	<% end %>
																
																</tbody>
                              									</table>
                              								<div style="display:none">
																<%= f.text_field "videoin_c0_mode2_nresolution".parameterize.underscore.to_sym %>	
															</div>

													    </div>
													    
															<table id="res_tablescroll_foot_mode2" cellspacing="0" class="tablescroll_foot" style="width:240px;" id="tblPatrolFootForIE6">
															<tfoot>
																<tr>
																	<th style="_width: 20px;"><input type="button" title="symbol" value="remove" onclick="popResolution('_mode2')"/></th>
																	<th style="text-align: left; _width: 150px;">
																		<input type="button" value="&#9650;" style="padding: 0 3px;" onclick="MoveUp('_mode2')"/>
																		<input type="button" value="&#9660;" style="padding: 0 3px;" onclick="MoveDown('_mode2')"/>
																	</th>
																	<th><input type="button" title="symbol" value="more" style="display:none;" id="btn_adjPatrolTbl" onclick="adjustPatrolTbl(this)"/></th>
																</tr>
															</tfoot>
														  </table>

													</div>
												</td>
												<td style="vertical-align: middle; width: 1px; padding: 0px 3px 0 3px;">
													<input type="button" value="<<" style="padding: 1px; font: bold 11px arial;" onclick="pushResolution('_mode2')"/>
												</td>
												<td>
													<div class="tablescroll">
														<table cellspacing="0" class="tablescroll_head" style="width: 222px;">
															<thead>
																<tr>
																	<th style="_width: 210px;"><span>Resolution</span></th>
																</tr>
															</thead>
														</table>
														<div class="tablescroll_wrapper" style="width: 222px; height: 130px; overflow-x: hidden; overflow-y: auto;">
															<table cellspacing="0" style="table-layout: fixed; width: 220px;" id="table_resolution_mode2" class="tablescroll_body">
																<colgroup>
																	<col width="20"/>
																	<col width="150"/>
																</colgroup>
																<tbody>
																	<!-- Resolution selection Content -->
																	<tr>
																	  <td>
																	    <input type="checkbox"/>
																	  </td>
																	  <td title="176x144" style="cursor: default;">
																      176x144
																    </td>
																  </tr>
																  <tr>
																	  <td>
																	    <input type="checkbox"/>
																	  </td>
																	  <td title="800x600" style="cursor: default;">
																      800x600
																    </td>
																  </tr>
																</tbody>
															</table>
														</div>
														<table cellspacing="0" class="tablescroll_foot" style="width: 222px;">
															<tfoot>
																<tr>
																	<th style="_width: 10px;"><input type="button" title="symbol" value="New" onclick="newResolution('_mode2')"></th>
																	<th style="_width: 210px;"><input type="button" title="symbol" value="more" style="float:right; display:none;" id="btn_adjPresetTbl" onclick="adjustPresetTbl(this)"/></th>
																</tr>
															</tfoot>
														</table>
													</div>
												</td>
											</tr>
											<tr>
											  <td>
											    <div id="res_tablescroll_new_mode2" class="special_area" style="display:none">
                            						<span title="symbol" id="presetNameID">resolution</span>:
											      <!--<label for="addPresetInput" class="pre overlay" style=""><span title="symbol">add_preset_location</span></label>-->
												    <input type="text" id="new_resolution_input_mode2" name="addpos_temp" maxlength="40" value="" style="width:100px;" onKeyPress="return KeyPress(event);"/>
												    <input type="button" title="symbol" value="add" onclick="addResolution('_mode2');"/>
												  </div>
											  </td>
											</tr>
										</table>
										
										<!-- video mode 2 table (default setting) -->
										<table id="" class="vivotable" style="margin-left:0px">
                      						<tr>
												<td>
													<div class="tablescroll tablescroll-patrol">
														  <table id="default_tablescroll_head_mode2" cellspacing="0" class="tablescroll_head" style="width:240px;table-layout:fixed">
															<thead>
															  <tr id="default_tablescroll_tr_mode2">
																  <th style="width: 170px;"><span title="symbol">Default setting</span></th>
																  <!-- <th style="width: 70px;"><span title="symbol">Max FPS</span></th> -->
																  <!-- <th style="width: 70px;"><span title="symbol">Max FPS (under H264)</span></th>-->
															  </tr>
															</thead>
														  </table>
														  
															<div id="default_div_body_mode2" class="tablescroll_wrapper" style="width:240px;height: 130px; overflow-x: hidden; overflow-y: auto;">
															  <table cellspacing="0" style="table-layout: fixed; width: 240px;table-layout:fixed" id="default_tablescroll_body_mode2" class="tablescroll_body">
																<colgroup id="default_colgroup_mode2">
																  <col width="20"/>
																	<col width="150"/>
																
																</colgroup>
																<tbody id="default_tbody_mode2">
																	<!-- Selected default setting Content -->
																	
																	<% nstream = @userinput["nmediastream"] %>
																	<% for i in 0..(nstream - 1) %>
																			<tr>
																				<td>
																					<input type="checkbox"/>
																				</td>
																				<td>
																					<%= "Stream " + (i+1).to_s %>
																				</td>
																				<% if @userinput["h265"] == 1 %>
																					<td style="text-align:left">
																					<% framerate = "videoin_c0_mode2_defaultsetting_s%d_h265_framerate" % i %>
																					<%= f.text_field framerate.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																					<td style="text-align:left">
																					<% bitrate = "videoin_c0_mode2_defaultsetting_s%d_h265_bitrate" % i %>
																					<%= f.text_field bitrate.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																				<% end %>
																				<% if @userinput["h264"] == 1 %>
																					<td style="text-align:left">
																					<% framerate = "videoin_c0_mode2_defaultsetting_s%d_h264_framerate" % i %>
																					<%= f.text_field framerate.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																					<td style="text-align:left">
																					<% bitrate = "videoin_c0_mode2_defaultsetting_s%d_h264_bitrate" % i %>
																					<%= f.text_field bitrate.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																				<% end %>
																				<% if @userinput["mjpeg"] == 1 %>
																					<td style="text-align:left">
																					<% framerate = "videoin_c0_mode2_defaultsetting_s%d_mjpeg_framerate" % i %>
																					<%= f.text_field framerate.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																					<td style="text-align:left">
																					<% bitrate = "videoin_c0_mode2_defaultsetting_s%d_mjpeg_bitrate" % i %>
																					<%= f.text_field bitrate.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																				<% end %>
																				<% if @userinput["mpeg4"] == 1 %>
																					<td style="text-align:left">
																					<% framerate = "videoin_c0_mode2_defaultsetting_s%d_mpeg4_framerate" % i %>
																					<%= f.text_field framerate.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																					<td style="text-align:left">
																					<% bitrate = "videoin_c0_mode2_defaultsetting_s%d_mpeg4_bitrate" % i %>
																					<%= f.text_field bitrate.parameterize.underscore.to_sym, class: "tablescroll_td_input" %>
																					</td>
																				<% end %>
																			</tr>
																	<% end %>
																
																</tbody>
                               								 </table>
													    </div>
													    
															<table id="default_tablescroll_foot_mode2" cellspacing="0" class="tablescroll_foot" style="width:240px;" id="tblPatrolFootForIE6">
															<tfoot>
																<tr>
																  <!--
																	<th style="_width: 20px;"><input type="button" title="symbol" value="remove" onclick="popResolution('_mode0')"/></th>
																	<th style="text-align: left; _width: 150px;">
																		<input type="button" value="&#9650;" style="padding: 0 3px;" onclick="MoveUp('_mode0')"/>
																		<input type="button" value="&#9660;" style="padding: 0 3px;" onclick="MoveDown('_mode0')"/>
																	</th>
																	<th><input type="button" title="symbol" value="more" style="display:none;" id="btn_adjPatrolTbl" onclick="adjustPatrolTbl(this)"/></th>
																	-->
																</tr>
															</tfoot>
														  </table>
													</div>
												</td>
											</tr>
										</table>
                    </div>
    </div>