<div id="tabs_others">
      <%= f.label :nuart, "capability_nuart" %>
      <%= f.text_field :nuart %>
      <br>     
      <%= f.label :nvideoinprofile, "capability_nvideoinprofile" %>
      <%= f.text_field :nvideoinprofile %>
      <br> 
      <%= f.label :nmotionprofile, "capability_nmotionprofile" %>
      <%= f.text_field :nmotionprofile %>
      <br> 
      <%= f.label :windowless, "capability_windowless" %>
      <%= f.text_field :windowless %>
      <br>       
      <%= f.label :evctrlchannel, "capability_evctrlchannel" %>
      <%= f.text_field :evctrlchannel %>
      <br>
      <%= f.label :joystick, "capability_joystick" %>
      <%= f.text_field :joystick %>
      <br>
      <%= f.label :npreset, "capability_npreset" %>
      <%= f.text_field :npreset %>
      <br>
      <%= f.label :whitelight, "capability_whitelight" %>
      <%= f.text_field :whitelight %>
      <br>
      <%= f.label :adaptiverecording, "capability_adaptiverecording" %>
      <%= f.text_field :adaptiverecording %>
      <br>
      <%= f.label :adaptivestreaming, "capability_adaptivestreaming" %>
      <%= f.text_field :adaptivestreaming %>
      <br>
      <%= f.label :videoout_codec, "capability_videoout_codec" %>
      <%= f.text_field :videoout_codec %>
      <br>      
      <%= f.label :protocol_https, "capability_protocol_https" %>
      <%= f.text_field :protocol_https %>
      <br>   
      <%= f.label :protocol_rtsp, "capability_protocol_rtsp" %>
      <%= f.text_field :protocol_rtsp %>
      <br>   
      <%= f.label :protocol_sip, "capability_protocol_sip" %>
      <%= f.text_field :protocol_sip %>
      <br>        
      <%= f.label :protocol_maxconnection, "capability_protocol_maxconnection" %>
      <%= f.text_field :protocol_maxconnection %>
      <br>   
      <%= f.label :protocol_maxgenconnection, "capability_protocol_maxgenconnection" %>
      <%= f.text_field :protocol_maxgenconnection %>
      <br>   
      <%= f.label :protocol_rtp_multicast_scalable, "capability_protocol_rtp_multicast_scalable" %>
      <%= f.text_field :protocol_rtp_multicast_scalable %>
      <br>   
      <%= f.label :protocol_rtp_multicast_backchannel, "capability_protocol_rtp_multicast_backchannel" %>
      <%= f.text_field :protocol_rtp_multicast_backchannel %>
      <br>   
      <%= f.label :protocol_rtp_tcp, "capability_protocol_rtp_tcp" %>
      <%= f.text_field :protocol_rtp_tcp %>
      <br>   
      <%= f.label :protocol_rtp_http, "capability_protocol_rtp_http" %>
      <%= f.text_field :protocol_rtp_http %>
      <br>         
      <%= f.label :protocol_spush_mjpeg, "capability_protocol_spush_mjpeg" %>
      <%= f.text_field :protocol_spush_mjpeg %>
      <br>   
      <%= f.label :protocol_snmp, "capability_protocol_snmp" %>
      <%= f.text_field :protocol_snmp %>
      <br>   
      <%= f.label :protocol_ipv6, "capability_protocol_ipv6" %>
      <%= f.text_field :protocol_ipv6 %>
      <br>      
      <%= f.label :protocol_pppoe, "capability_protocol_pppoe" %>
      <%= f.text_field :protocol_pppoe %>
      <br>   
      <%= f.label :protocol_ieee8021x, "capability_protocol_ieee8021x" %>
      <%= f.text_field :protocol_ieee8021x %>
      <br>   
      <%= f.label :protocol_qos_cos, "capability_protocol_qos_cos" %>
      <%= f.text_field :protocol_qos_cos %>
      <br>            
      <%= f.label :protocol_qos_dscp, "capability_protocol_qos_dscp" %>
      <%= f.text_field :protocol_qos_dscp %>
      <br>         
      <%= f.label :protocol_ddns, "capability_protocol_ddns" %>
      <%= f.text_field :protocol_ddns %>
      <br>         
      <%= f.label :protocol_timeshift, "capability_protocol_timeshift" %>
      <%= f.text_field :protocol_timeshift %>
      <br>      
      
      <%= f.label :uart_httptunnel, "capability_uart_httptunnel" %>
      <%= f.text_field :uart_httptunnel %>
      <br>       
      <%= f.label :transmission_mode, "capability_transmission_mode" %>
      <%= f.text_field :transmission_mode %>
      <br>       
      <%= f.label :storage_dbenabled, "capability_storage_dbenabled" %>
      <%= f.text_field :storage_dbenabled %>
      <br>       
      <%= f.label :derivative_brand, "capability_derivative_brand" %>
      <%= f.text_field :derivative_brand %>
      <br>      
      <%= f.label :test_ac, "capability_test_ac" %>
      <%= f.text_field :test_ac %>
      <br>   
      
      <%= f.label :media_totalspace, "capability_media_totalspace" %>
      <%= f.text_field :media_totalspace %>
      <br>    
      <%= f.label :media_snapshot_sizepersecond, "capability_media_snapshot_sizepersecond" %>
      <%= f.text_field :media_snapshot_sizepersecond %>
      <br>    
      <%= f.label :media_snapshot_maxpreevent, "capability_media_snapshot_maxpreevent" %>
      <%= f.text_field :media_snapshot_maxpreevent %>
      <br>    
      <%= f.label :media_snapshot_maxpostevent, "capability_media_snapshot_maxpostevent" %>
      <%= f.text_field :media_snapshot_maxpostevent %>
      <br>    
      <%= f.label :media_snapshot_maxsize, "capability_media_snapshot_maxsize" %>
      <%= f.text_field :media_snapshot_maxsize %>
      <br>    
      <%= f.label :media_videoclip_maxsize, "capability_media_videoclip_maxsize" %>
      <%= f.text_field :media_videoclip_maxsize %>
      <br>    
      <%= f.label :media_videoclip_maxlength, "capability_media_videoclip_maxlength" %>
      <%= f.text_field :media_videoclip_maxlength %>
      <br>          
      <%= f.label :media_videoclip_maxpreevent, "capability_media_videoclip_maxpreevent" %>
      <%= f.text_field :media_videoclip_maxpreevent %>
      <br>   
      <%= f.label :remotecamctrl_slave, "capability_remotecamctrl_slave" %>
      <%= f.text_field :remotecamctrl_slave %>
      <br>          
      <%= f.label :remotecamctrl_master, "capability_remotecamctrl_master" %>
      <%= f.text_field :remotecamctrl_master %>
      <br>           
      
      
</div> 