<div id="tabs_daynight">
    <%= f.label :daynight_support, "有無daynight" %>
    <%= f.radio_button :daynight_support, '1' %> 有
    <%= f.radio_button :daynight_support, '0' %> 無
    <br>    
    <%= f.label :daynight_builtinir, "有無builtinir" %>
    <%= f.radio_button :daynight_builtinir, '1' %> 有
    <%= f.radio_button :daynight_builtinir, '0' %> 無
    <br>    
    <%= f.label :daynight_externalir, "有無externalir" %>
    <%= f.radio_button :daynight_externalir, '1' %> 有
    <%= f.radio_button :daynight_externalir, '0' %> 無
    <br>       
    <%= f.label :daynight_smartir, "有無smartir" %>
    <%= f.radio_button :daynight_smartir, '1' %> 有
    <%= f.radio_button :daynight_smartir, '0' %> 無
    <br>      
    <%= f.label :daynight_ircutfilter, "有無ircutfilter" %>
    <%= f.radio_button :daynight_ircutfilter, '1' %> 有
    <%= f.radio_button :daynight_ircutfilter, '0' %> 無
    <br>       
    <%= f.label :daynight_lightsensor, "有無lightsensor" %>
    <%= f.radio_button :daynight_lightsensor, '1' %> 有
    <%= f.radio_button :daynight_lightsensor, '0' %> 無
    <br>      
</div>   