  <%= stylesheet_link_tag    "vendor",      :media => "all", :debug => false %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "vendor", :debug => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<%= form_for @userinput , :url => userinputs_update_path(@vivocamera, @userinput,:vivocamera_id => @vivocamera.id) do |f| %>
    <%= render 'common1', :f =>f %>
    <div>
    <%= f.submit "Save", class: "btn btn-primary" %>
    </div>
<% end %>