   <%= form_for(@vivocamera) do |f| %>
   
      <div>
      <%= f.label :name ,"IP camera name" %>
      <%= f.text_field :name %>
      </div>
      <div>
         <h4>import settings from</h4>
      </div>
      <div>
      <%=f.select :importid, @vivocameras.map{ |c| [c.name, c.id] }%>
      </div>
      <div> 
      <%= f.submit "Create", class: "btn btn-primary" %>
      </div >
    <% end %>
    <hr />
